.navbar-ul {
  position: relative;
  display: flex;
  gap: 3em;

  li {
    a {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background: currentColor;
      }

      &:hover::after {
        animation: leftToRight 0.4s forwards;
      }
    }
  }
}

@keyframes leftToRight {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
