:host {
  width: 100%;
}

.brands-general {
  position: relative;
  width: 100%;
  height: 38em;
  display: flex;
  overflow: hidden;
  border-radius: 1rem;
}

/* Imagen de fondo */
.background-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.carousel-overlay {
  //background: #4DA1A9;
  position: relative;
  z-index: 1;
  width: 50%;
  //height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* mejor */
}

.carousel-overlay app-brand-carousel {
  display: block;
  width: 100%;
  height: 100%;
}

