<div class="chat-launcher" (click)="toggleChat()">
  <img ngSrc="/icons/bulb.png" alt="chat" height="512" width="512"/>
</div>

@if (open) {
  <app-black-modal (close)="toggleChat()" ></app-black-modal>

  <div class="chat-window" >
    <div class="topbar">
      <span>Chat</span>
      <button (click)="toggleChat()">×</button>
    </div>

    <div class="content">
      <div class="conversation">
        @for (m of messages; track m) {
          <div [class]="m.role"><p>{{ m.text }}</p></div>
        }
      </div>

      @if (result.length > 0) {
        <div class="products">
          <small>{{ result.length }} productos</small>
          @for (p of result; track p) {
            <app-product-card [product]="p"></app-product-card>
          }
        </div>
      }
    </div>

    <div class="bottombar">
      <input [(ngModel)]="query" (keyup.enter)="send()" placeholder="Escribe aquí..."/>
      <button (click)="send()">→</button>
    </div>
  </div>
}
