<div class="chat-launcher" (click)="toggleChat()">
  <img ngSrc="/icons/bulb.png" alt="chat" height="512" width="512"/>
</div>

@if (open) {
  <div class="chat-container">
    <div class="chat-header">
      <strong>Asistente de Productos</strong>
      <button class="close-btn" (click)="toggleChat()">✕</button>
    </div>

    <div class="chat-body">
      <div class="messages">
        @for (m of messages; track m) {
          <div [class.user]="m.role === 'user'" [class.bot]="m.role === 'bot'">
            {{ m.text }}
          </div>
        }
      </div>
    </div>

    <div class="chat-input">
      <input [(ngModel)]="query" placeholder="Pregunta algo..." />
      <button (click)="send()">Enviar</button>
    </div>

    @if (result.length > 0) {
      <div class="results">
        <p><strong>{{ result.length }} resultados</strong></p>
        @for (p of result; track p) {
          <app-product-card  [product]="p"></app-product-card>
        }
      </div>
    }
  </div>
}
