.presentation-component {
  position: relative;
  display: flex;
  padding: 1em 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 25em;
  div{
    flex: 4 1 0;
  }
  img {
    flex: 3 1 0; /* grow:3, shrink:1, basis:0 */
    width: 30%;
    object-fit: contain;
  }

}

@media (max-width: 900px) {
  .presentation-component {
    img{
      display: none;
    }
  }
}
