header {
  position: fixed;
  display: flex;
  border-bottom: 1px solid #b8c4c2;
  z-index: 95;
  width: 100%;
  gap: 4em;
  padding: 0 var(--general-padding);
  align-items: center;
  background: var(--header);
  color: var(--main-text);
  height: var(--header-height);
  justify-content: space-between;
  box-sizing: border-box;

  img {
    height: 100%;
    object-fit: cover;
  }
}

// Media query para móviles
@media (max-width: 768px) {
  header {
    //width: 100%;
    justify-content: space-between;
    gap: 0;
    padding: 0 0;
  }
}
