<section class="padding10-l-r product-page-component">
  <app-presentation
    [h1Text]="'Productos'"
    [description]="'Mira la diversidad de productos'"

    [bannerImg]="'/utils/products.webp'"
  />
  <app-filter-inventory-list/>
  <app-section-selector
    [currentSection]="currentSection"
    (sectionChanged)="onSectionChanged($event)">
  </app-section-selector>

  <app-items-grid
    [items]="getCurrentItems()"
    (itemSelected)="onItemSelected($event)"
  />
</section>
@if (isModalOpen) {
   <app-products-modal
     [products]="products()"
     [loading]="isLoadingProducts"
     (close)="closeModal()"
   >
   </app-products-modal>
}
