.item-card {
  background-color: #fff;
  padding: 0 0 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
    scale: 1.02;
  }

  .card-image {
    width: 100%;
    //max-width: 120px;
    margin-bottom: 0.75rem;

    img {
      width: 100%;
      height: 16em;
      display: block;
      object-fit: cover;
    }
  }

  .card-content {
    h3 {
      font-size: 1rem;
      font-weight: 600;
      color: #2f3e2f;
      margin: 0;
    }
  }
}
