:host{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.brand-carousel-home {
  position: relative;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centra los items */
  align-items: center;
  gap: 1.5em;
  padding: 2em;
  box-sizing: border-box;
}

/* Cada item */
.brand-carousel-home app-brand-item {
  flex: 1 1 80px;
  max-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ============================
   RESPONSIVE - Tablets
   ============================ */
@media (max-width: 1024px) {
  .brand-carousel-home {
    gap: 1.2em;
    padding: 1.5em;
  }

  .brand-carousel-home app-brand-item {
    flex: 1 1 120px;
    max-width: 160px;
  }
}


/* ============================
   RESPONSIVE - Móviles
   ============================ */
@media (max-width: 768px) {
  .brand-carousel-home {
    gap: 1em;
    padding: 1em;
  }

  .brand-carousel-home app-brand-item {
    flex: 1 1 100px;
    max-width: 130px;
  }
}


/* ============================
   EXTRA SMALL
   ============================ */
@media (max-width: 480px) {
  .brand-carousel-home app-brand-item {
    flex: 1 1 90px;
    max-width: 110px;
  }
}
