//:host {
//  display: block;
//  width: 100%;
//  height: 100%;
//}


.brand-carousel-home {
  position: relative;
  width: 100%;
  //height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  padding: 2em;
  box-sizing: border-box;

  background: linear-gradient(
      90deg,
      #d0d0d0 0%,
      rgba(255, 255, 255, 0)
  );
}


.brand-carousel-home app-brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
