.map-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding-top: 56.25%;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
