.home-page{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  box-sizing: border-box;
  width: 100dvw;
}

.banner-home-welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-height: 25em;
}
//dif items:
.difItems {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 var(--general-padding);
  box-sizing: border-box;
  gap: 1em;
}

.difItems app-informative-category-item{
  flex: 1;
  min-width: 0;
}

@media (max-width: 920px) {
  .difItems {
    padding: 0 1em;
    gap: 1.5em;
  }

  .difItems app-informative-category-item {
    flex: 1 1 100%;
  }
}

