.home-page{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  box-sizing: border-box;
}

.banner-home-welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //gap: 3rem;
  padding: 4rem 0;
  box-sizing: border-box;
  gap:2em;
  min-height: 25em;
}

.banner-home-welcome app-leaderled-welcome {
  flex: 2;
}

.banner-home-welcome app-brands-general {
  flex: 3;
}

