.brand-item-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: auto; /* <--- CRUCIAL */
}


.brand-item-logo-container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
