@if (product) {
  <div class="product-card">
    <button class="add-btn" (click)="addToCart()">Añadir al carrito</button>

    <div class="card-header">
      <app-product-image
        [image]="getFirstImage()"
        [alt]="product.marketName"
      />
    </div>

    <div class="card-body">
      <app-product-info
        [name]="product.marketName"
        [brandArray]="product.brands"
        [reference]="product.reference"
      />

      <app-product-specs
        [powerArray]="product.power"
        [lumens]="product.lumens"
      />

      <div class="card-footer">
        <app-product-tags
          [technologies]="product.technologies"
          [applications]="product.applications"
        />
      </div>
    </div>

    @if (showCheck) {
      <div class="added-check">✓</div>
    }
  </div>
}
