@if (product) {
  <div class="product-card">

    <button id="button-to-add"
      (click)="addToCart()">Añadir a carrito</button>

    <div class="card-header">
      <app-product-image
        [image]="getFirstImage()"
        [alt]="product?.marketName"
      />
    </div>

    <div class="card-body">
      <app-product-info
        [name]="product?.marketName"
        [reference]="product?.reference"
      />

      <app-product-specs
        [power]="product?.power"
        [lumens]="product?.lumens"
      />

      <div class="card-footer">
        <app-product-tags
          [technologies]="product?.technologies"
          [applications]="product?.applications"
        />
      </div>
    </div>

  </div>
}
