.presentation-component {
  position: relative;
  display: flex;
  padding: 1em 0;
  //background-image: url("/home-fondo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  div{
    flex: 4;
  }
  img {
    width: 100%;
    flex: 3;
    object-fit: cover;
  }

}
