.presentation-component {
  position: relative;
  display: flex;
  padding: 1em 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 20em;
  div{
    flex: 4;
  }
  img {
    width: 100%;
    flex: 3;
    object-fit: cover;
  }

}

@media (max-width: 900px) {
  .presentation-component {
    img{
      display: none;
    }
  }
}
