<div class="list-service-card-container">
  <app-service-card
    titleCard="Mantenimiento Eléctrico"
    descriptionCard="Todo lo relacionado a instalaciones, contrataciones y cotizaciones del ámbito."
    imageCard="service/mantenimiento.jpg"
  ></app-service-card>
  <app-service-card
    titleCard="Programación drivers"
    descriptionCard="Se realizan las programaciones para drivers dali y 0-10. (protocolos de dimerización)."
    imageCard="service/drivers.jpg"
  ></app-service-card>
  <app-service-card
    titleCard="Contrataciones"
    descriptionCard="Se realiza cotizaciones sobre tipos de contrataciones que se dispongan."
    imageCard="service/contrataciones.jpg"
  ></app-service-card>
</div>


