
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
//font:
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// colors:
$color-dark-header: #000;
$color-dark-bg: #393939;
$color-dark-main-text: #fff;

$color-light-header: #f5f5f5;
$color-light-bg: #fff;
$color-light-main-text: #000;

// general padding:
$padding: 10em;

// header height:
$header-height: 5em; //55px
//banner
$banner-color: rgba(104, 114, 99, 0.85);
$banner-solid-color: rgb(104, 114, 99);
// cards:
$contact-card-header: #5c8141;
$contact-card-color: #fff;

$contact-card-bg: #fff;
$contact-card-bg-color: #333;


@mixin theme($header, $bg, $main-text) {
  --header: #{$header};
  --bg: #{$bg};
  --main-text: #{$main-text};
}

:root {
  @include theme(
      $color-light-header,
      $color-light-bg,
      $color-light-main-text
  );
  --general-padding: #{$padding};
  --header-height: #{$header-height};
  --banner-color: #{$banner-color};
  --banner-solid-color: #{$banner-solid-color};
  //cards:
  --contact-card-header: #5c8141;
  --contact-card-header-color: #fff;
  --contact-card-bg: #fff;
  --contact-card-bg-color: #333;

  --contact-card-bg-strong-color: #5c8141;
}

:root.dark {
  @include theme(
      $color-dark-header,
      $color-dark-bg,
      $color-dark-main-text
  );
  --general-padding: #{$padding};
  --header-height: #{$header-height};
  --banner-color: #{$banner-color};
  --banner-solid-color: #{$banner-solid-color};
  //cards:
  --contact-card-header: #5c8141;
  --contact-card-header-color: #fff;
  --contact-card-bg: #fff;
  --contact-card-bg-color: #333;
  --contact-card-bg-strong-color: #5c8141;

}

main {
  position: relative;
  display: flex;
  top: var(--header-height);

}

body {
  position: relative;
  //display: flex;
  //align-content: center;
  //justify-content: center;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  height: 100%;
  //background: var(--bg);
  background: linear-gradient(135deg, #f8faf9 0%, #e8f0e6 100%);
}
a {
  text-decoration: none;
  color: var(--main-text);
  outline: none;
}
ul {
  list-style: none;
}
.padding10-l-r {
  padding: 0 10rem;
}
.dummy-component {
  //border: 1px solid #9f9f9f;
}

@media (max-width: 1200px) {

  .padding10-l-r {
    padding: 0 0.3em;
  }

}

// extra
.no-scroll {
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
