<div class="welcome-container">

  <div class="logo-wrapper">
    <img src="/utils/LdLd3d_sinfondo.png" alt="LeaderLed logo">
  </div>

  <div class="content-wrapper">
    <div class="saludo-content-wrapper">
      <h3>Bienvenido a</h3>
      <h1>LeaderLed</h1>
    </div>

    <div class="assistant-btn">
      <span>Usa nuestro asistente virtual</span>
      <img src="/icons/robot.svg" alt="robota">
    </div>

    <div class="leaderled-welcome-preguntapor">
      <app-pregunta-por text="luminarias IoT | Google Home"/>
      <app-pregunta-por text="programación de drivers"/>
    </div>
  </div>

</div>
